*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #bbc6fa;
}

.quote-box{
    background: #b4ebd3;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0 rgba(5, 54, 60, 0.15);
}